.page.theme_light {
  --bg-color: #fff1f7;
  --header__bg-image: url('../images/cover-image-light.png');
  --header__title-color: #ffc2e6;
  --header__theme-menu-color: #353430;
  --accent-color: #ff8dcb;
  --accent-description-color: #353430;
  --color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
  }
}
