html {
  container-type: inline-size;
  background-color: var(--page-bg-color, #000028);
  background: var(--page-bg-image) no-repeat center / cover;
  background-attachment: fixed;
}

.page {
  display: flex;
  flex-direction: column;
  color: var(--color);
  font-family: var(--font-family), monospace;
  font-size: var(--font-size);
  gap: 60px;
}

@container (inline-size < 768px) {
  .page {
    gap: 40px;
  }
}

.title-decor {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.accent-text {
  background-color: var(--accent-color);
  font-weight: 700;
  color: var(--accent-text-color);
}

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--header-padding) 0;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

@container (inline-size < 768px) {
  .header {
    --last-header-padding: var(--header-padding);
    --header-padding: 10px;
    padding: clamp(var(--header-padding), 0.0286rem + 2.5445vw, var(--last-header-padding));
  }
}

.decorated-zone:before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-theme-color);
  border-block-start: 1px solid var(--accent-theme-color);
  position: absolute;
  inset-block-start: var(--header-padding);
  inset-inline-end: var(--header-padding);
}

.decorated-zone:after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-theme-color);
  border-block-end: 1px solid var(--accent-theme-color);
  position: absolute;
  inset-block-end: var(--header-padding);
  inset-inline-start: var(--header-padding);
}

.rec {
  display: var(--display-rec, none);
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  inset-block-start: var(--header-padding);
  inset-inline-end: calc(var(--header-padding) + 10px);
  color: var(--accent-theme-color);
}

.rec:after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  display: inline-block;
  box-shadow: 0px 0px 4px 2px var(--accent-theme-color);
  margin-inline-start: 10px;
  margin-block-end: 2px;
  border-radius: 50%;
  background-color: var(--accent-theme-color);
}

.header__theme-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@container (inline-size < 1024px) {
  .header__theme-menu {
    margin-inline-end: var(--header-padding);
    flex-direction: column;
    align-items: flex-end;
  }
}

@container (inline-size < 768px) {
  .header__theme-menu {
    margin: 0;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


@container (inline-size < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
  }
}

.header__theme-menu-button {
  background: none;
  color: var(--accent-theme-color);
  border: none;
  text-transform: lowercase;
  font-family: inherit;
  font-weight: 400;
  line-height: 18px;
  padding: 3px 13px;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--accent-theme-ligth-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-theme-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-theme-color);
}

.header__theme-menu-button_active:hover {
  cursor: default;
  pointer-events: none;
  border-color: inherit;
}

.header__title {
  color: var(--header__title-color);
  font-size: 157px;
  font-weight: 700;
  line-height: 129.53px;
}

@container (inline-size <= 1024px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: clamp(6.1875rem, 0.4631rem + 11.9258vw, 8.095625rem);
  }
}

@container (inline-size <= 768px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: clamp(5.98125rem, 5.7844rem + 0.8397vw, 6.1875rem);
  }
}

.header__description {
  max-inline-size: calc((100% - 2 * var(--header-padding)) / 2);
  margin-inline-end: var(--header-padding);
  block-size: min-content;
  justify-self: end;
  align-self: center;
}

@container (inline-size < 768px) {
  .header__description {
    margin: 0;
    max-inline-size: clamp(22.1875rem, 21.6508rem + 2.2901vw, 22.75rem);
  }
}

.sections-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@container (inline-size < 768px) {
  .sections-list {
    gap: 50px;
  }
}

.section {
  --section-padding: 20px;
  --section-gap: 20px;
  display: flex;
  flex-direction: row;
  gap: var(--section-gap);
  padding: 0 var(--section-padding);
}

@container (inline-size < 768px) {
  .section {
    --section-padding: 10px;
    flex-direction: column;
  }
}

.section-large {
  flex-direction: column;
}

@container (inline-size < 768px) {
  .section-picture {
    --section-gap: 10px;
  }
}

.section__title {
  inline-size: calc(100% / 3);
  color: var(--accent-theme-color);
  font-size: inherit;
  line-height: 23.4px;
}

.section__title-large {
  inline-size: calc((100% - var(--section-gap)) / 3);
}

@container (inline-size < 768px) {
  .section__title {
    inline-size: 100%;
  }
}

.section__title-picture {
  inline-size: 100%;
  color: var(--accent-text-color);
}

.section__list {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.section__list-large {
  inline-size: 100%;
  flex-direction: row;
  flex-flow: wrap;
}

@container (inline-size < 1024px) {
  .section__list-large {
    flex-direction: column;
  }
}

.section__list-medium {
  inline-size: calc(100% / 3 * 2 + var(--section-gap));
}

@container (inline-size < 1024px) {
  .section__list-medium {
    inline-size: calc(100% / 3 * 2);
  }
}

@container (inline-size < 768px) {
  .section__list-medium {
    inline-size: 100%;
  }
}

.section__list-items {
  gap: 20px;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}

.section__list-picture {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 428px;
}

@container (inline-size < 1024px) {
  .section__list-picture {
    grid-template-rows: 192px 230px 318px;
  }
}

@container (inline-size < 768px) {
  .section__list-picture {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(142px, 1fr));
    gap: 10px;
  }
}

.section__list-item {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.section__list-item-picture {
  overflow: hidden;
}

.section__list-item-title {
  font-size: inherit;
  line-height: 23.4px;
}

.section__list-item-title-small {
  font-weight: 400;
}

.section__list-item-description {
  font-weight: 400;
  line-height: 23.4px;
}

.text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.text-link:hover {
  border-block-end: 1px solid var(--color);
  cursor: pointer;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  border: 1px solid var(--color);
}

.section__list-item-picture img {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.block-big-col {
  grid-column: span 2;
}

.block-big-row {
  grid-row: span 2;
}

@container (inline-size < 768px) {
  .block-big-col {
    grid-column: span 1;
  }

  .block-big-row {
    grid-row: span 1;
  }
}

@container (inline-size >= 1024px) {
  .section__list-large .section__list-item {
    inline-size: calc(100% / 3 - 20px);
    flex-grow: 1;
    flex-wrap: wrap;
  }
}

.footer {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@container (inline-size < 768px) {
  .footer {
    --header-padding: 10px;
  }
}

.footer__title {
  color: var(--footer__title-color);
  font-size: 157px;
  font-weight: 700;
  line-height: 129.53px;
}

.footer__title.title-decor {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@container (inline-size <= 1024px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: clamp(6.1875rem, 0.4631rem + 11.9258vw, 8.095625rem);
  }
}

@container (inline-size <= 768px) {
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: clamp(5.98125rem, 5.7844rem + 0.8397vw, 6.1875rem);
  }
}
