:root {
  --bg-color: #000028;
  --header__bg-image: url('../images/cover-image-dark.png');
  --header__title-color: #db00ff;
  --header__theme-menu-color: #ff0070;
  --accent-color: #ff0070;
  --accent-description-color: #000028;
  --color: #f1b2ce;
  --font-family: 'IBM Plex mono';
  --font-size: 18px;
}
