:root {
  --bg-color: #00183F;
  --bg-image: url('../images/cover-image-dark.png');
  --header__title-color: #db00ff;
  --footer__title-color: #db00ff;
  --accent-theme-color: #ff0070;
  --accent-theme-ligth-color: #ff007066;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --color: #f1b2ce;
  --font-family: 'IBM Plex mono';
  --font-size: 18px;
  --display-rec: inline-block;
  --header-padding: 20px;
}
